<!DOCTYPE html>
<html>
<head>
    <script id="vertex-shader" type="x-shader/x-vertex">
    attribute vec4 vPosition; // vertex position from application
    attribute vec4 vColor;    // vertex color from application
    varying vec4 fColor;      // fragment color to rasterizer
    void main( void )
    {
      gl_Position = vPosition;
      fColor = vColor;
    }
    </script>
    <script id="fragment-shader" type="x-shader/x-fragment">
    precision mediump float;
    varying vec4 fColor;      // fragment color from rasterizer
    void main( void )
    {
      gl_FragColor = fColor;
    }
    </script>
    <script type="text/javascript" src="../Common/webgl-utils.js"></script>
    <script type="text/javascript" src="../Common/initShaders.js"></script>
    <script type="text/javascript" src="../Common/MV.js"></script>
    <script type="text/javascript" src="../Common/angular.min.js"></script>
    <script type="text/javascript" src="mouse_draw.js"></script>
    <style type="text/css">
        body { background: rgb(214, 214, 255); }
        td { padding: 0 .5em; }
    </style>
</head>
<body ng-controller="ColorCtrl as ctrl">
<canvas id="gl-canvas" width="512" height="512">
    Oops ... your browser doesn't support the HTML5 canvas element
</canvas>
<table>
    <tr>
        <td>color</td>
        <td><select ng-model="ctrl.selectedColor"
                    ng-options="c.name for c in ctrl.colors"
                    size="{{ctrl.colors.length}}"></select>
        </td>
        <td><button ng-click="ctrl.eraseCanvas()">Erase Canvas</button></td>
    </tr>
</table>
</body>
</html>
