<!DOCTYPE html>
<html>
<head>
    <script id="vertex-shader" type="x-shader/x-vertex">
    uniform float theta;      // rotation angle in radians from application
    attribute vec4 vPosition; // vertex position from application
    void main( void )
    {
      float radius = length( vPosition.xy ),
            cosTheta = cos( theta * radius ),
            sinTheta = sin( theta * radius );
      mat2  transform = mat2( cosTheta, sinTheta, -sinTheta, cosTheta );

      gl_Position.xy = transform * vPosition.xy;
      gl_Position.zw = vPosition.zw;
    }
    </script>
    <script id="fragment-shader" type="x-shader/x-fragment">
    precision mediump float;
    uniform vec4 color; // fragment color from application
    void main( void )
    {
      gl_FragColor = color;
    }
    </script>
    <script type="text/javascript" src="../Common/webgl-utils.js"></script>
    <script type="text/javascript" src="../Common/initShaders.js"></script>
    <script type="text/javascript" src="../Common/MV.js"></script>
    <script type="text/javascript" src="../Common/angular.min.js"></script>
    <script type="text/javascript" src="tessel_twist.js"></script>
    <style type="text/css">
        body { background: rgb(214, 214, 255); }
        td { padding: 0 .5em; }
    </style>
</head>
<body ng-controller="TesselCtrl as ctrl">
<canvas id="gl-canvas" width="512" height="512">
    Oops ... your browser doesn't support the HTML5 canvas element
</canvas>
<table>
    <tr>
        <td>recursive steps</td>
        <td style="text-align: right">0</td>
        <td><input ng-model="ctrl.steps" type="range" min="0" max="7" step="1" ng-change="ctrl.recalculate()" /></td>
        <td>7</td>
        <td>value:</td>
        <td ng-bind="ctrl.steps"></td>
    </tr>
    <tr>
        <td>rotation</td>
        <td style="text-align: right">0&deg;</td>
        <td><input ng-model="ctrl.rotation" type="range" min="0" max="720" step="5" ng-change="ctrl.redraw()" /></td>
        <td>720&deg;</td>
        <td>value:</td>
        <td ng-bind="ctrl.rotation"></td>
    </tr>
</table>
</body>
</html>
